.landing-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.content-left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.model-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: transparent;
}

.model-container canvas {
  width: 100% !important;
  height: 100% !important;
  outline: none;
  background: white !important;
}

.main-title {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  width: 100%;
}

.get-started-btn {
  padding: 1rem 2rem;
  border-radius: 30px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  align-self: center;
}
